<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8"/>
    <title>FPL Draft - Monthly Table</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"/>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/normalize.css"/>
    <link rel="stylesheet" href="/skeleton.css"/>
    <link rel="stylesheet" href="/custom.css"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137148214-1"></script>
    <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-137148214-1');

    </script>


</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div id="content" class="row">
        <div class="one-half column" style="margin-top: 25%">
            <h4 class="header-text">Enter your team id</h4>
            <p> You can find your team id in the address bar when viewing the game week Points tab.
                <a href="/how-to"> More info</a></p>

            <form action="#" th:object="${userInput}" th:action="@{/result}" method="post">

                <select th:id="month" th:name="month">
                    <option th:each="option : ${months}"
                            th:value="${option.value}"
                            th:text="${option.name}"
                            th:selected="${currentMonth == option.value}">
                    </option>
                </select>

                <p><input type="text" th:field="*{id}"/></p>
                <p><input id="submit-button" class="button-primary" type="submit" value="Submit"/></p>
            </form>

        </div>
    </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
